.index
    .wrapper
        %h1 This is the index page 🦄

        = render 'welcome/shared/partial', message: 'Hello!'

        = render 'welcome/shared/layout', message: 'Salut!' do
            %p Down the rabit hole we go! 🐰

        = render 'welcome/shared/layout', message: '' do

        = render 'welcome/shared/layout', message: 'Inception!' do
            = render 'welcome/shared/partial', message: 'I\'m inside of a glass case of emotion!'