.layout
    %h1 This is the layout

    - if local_assigns[:message]
        %h2 This is the message: "#{message}"

    - if yield.empty?
        %p.yield Do you not yield!? 🤺
    - else
        .yield
            = yield