// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: sans-serif, arial;
  margin: 0;
  line-height: 1.1;
}

.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 10rem 4rem 4rem;
}

.index {
  color: #607D8B;
}

.partial {
  color: #f79f9f;
  margin-left: 2rem;
}

.layout {
  color: #32ccb2;
  margin-left: 2rem;
}

.yield {
  color: #6200EA;
}